<li>
	<button id="category-filter-button" type="button" class="btn btn-primary" ng-click="toggleCategory()"><i class="fa fa-lemon-o"></i></button>
</li>
<li>
	<button id="category-filter-button" type="button" class="btn btn-primary" ng-click="toggleBookCategory()"><i class="fa fa-book"></i></button>
</li>
<li>
	<button id="category-filter-button" type="button" class="btn btn-primary" ng-click="toggleTransportCategory()"><i class="fa fa-car"></i></button>
</li>
<li>
	<button id="category-filter-button" type="button" class="btn btn-primary" ng-click="toggleAccommodationCategory()"><i class="fa fa-bed"></i></button>
</li>
<li>
	<button id="category-filter-button" type="button" class="btn btn-primary" ng-click="toggleTechnologyCategory()"><i class="fa fa-calculator"></i></button>
</li>
<li>
	<button id="category-filter-button" type="button" class="btn btn-primary" ng-click="toggleClothingCategory()"><i class="fa fa-briefcase"></i></button>
</li>
<li>
	<button id="category-filter-button" type="button" class="btn btn-primary" ng-click="toggleToolsCategory()"><i class="fa fa-binoculars"></i></button>
</li>