
 <div class="main-panels-nav">
    <a ui-sref="main.valuables" ui-sref-active="active">Items/Skills</a>
    <a ui-sref="main.crowdsourcing" ui-sref-active="active">Crowdsourcing</a>
</div>
<div ui-view></div>

<!-- Footer -->
<footer id="footer">
    <ul id="lang-switcher">
        <li><button ng-controller="AboutCtrl" type="button" class="btn btn-default btn-xs" ng-click="open('lg')">{{ "ABOUT_PAGE" | translate }}</button></li>
        <li>{{ "SWITCH_LANGUAGE" | translate }}:</li>
        <div language-links></div>
        <div category-filter></div>
    </ul>
</footer>
