
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

circle {
  // fill: white;
  stroke: black;
  stroke-width: 3px;
}

#navigation {
  text-align: right;
}

#navigation li {
  display: inline;
  padding: 20px;
}

#header {
  background-color: dodgerblue;
  background-attachment: scroll, fixed;
  color: rgba(255, 255, 255, 0.5);
  height: 5%;
  left: 0;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
}

/* Header */
#map {
  margin-left: 50%;
  background-color: #1f1815;
  background-attachment: scroll, fixed;
  color: rgba(255, 255, 255, 0.5);
  height: 95%;
  left: 0;
  position: fixed;
  text-align: right;
  top: 5%;
  width: 50%;
}

/* Footer */
#footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 4em 0 0;
  position: fixed;
  text-align: left;
  background-color: green;
  color: black;
}

/* Main */
.normal-width {
  width: calc(100% - 50%);
}

.wide {
  width: 100%;
}

#main {
  padding: 8em 4em 4em 4em;
  color: black;
}