<!DOCTYPE html>
<html lang="en">
<head>
    <title>YUNITY</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body data-ng-app="yunity" ng-class="bodyClass"  ng-controller="mapCtrl">
    <!-- Header -->
    <div id="header">
        <a ui-sref="home">
            <img id="logo" ng-src="placeholder.png" alt="YUNITY Logo"/>
        </a>

        <div search></div>

        <div id="login-form">
            <form ng-controller="LoginCtrl" ng-submit="submitLoginCredentials()"  class="input-group input-group-lg" >
                <input type="email" class="mail-field form-control" ng-model="credentials.email" placeholder="{{ 'EMAIL' | translate }}">
                <input type="password" class="password-field form-control" ng-model="credentials.password" placeholder="{{ 'PASSWORD' | translate }}">
                <span class="input-group-addon">
                    <input type="checkbox" ng-model="credentials.rememberMe" data-placement="left" data-type="info" data-animation="am-fade-and-scale" bs-tooltip="rememberMeTooltip">
                </span>
                <span class="input-group-btn">
                   <button class="btn btn-default" type="submit">{{ "LOGIN" | translate }}</button>
                </span>
            </form>
        </div>

    </div>

    <div id="main-wrapper" >

        <div id="map-wrapper">
            <div id="map" y-map></div>
        </div>

        <!-- Main -->
        <div id="main" ui-view>

            <input id="hide-map-button" type="button" class="btn btn-primary" ng-click="toggleMap()" value="{{ 'TOGGLE_MAP' | translate}}"></br>

            <div class="tabs" bs-active-pane="tabs.activeTab" bs-tabs>
                <div ng-repeat="tab in tabs" title="{{ tab.title }}" name="{{ tab.title }}" disabled="{{ tab.disabled }}" ng-include="tab.template" bs-pane>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <ul id="lang-switcher">
            <li><a translate="ABOUT_PAGE" ui-sref="about"></a></li>
            <li>{{ "SWITCH_LANGUAGE" | translate }}:</li>
            <div language-links></div>
        </ul>
    </footer>

    <script type="text/javascript" src="build/bundle.js"></script>

</body>
</html>
