<div id="login-form">
            <form ng-submit="submitLoginCredentials()"  class="input-group input-group-lg" >
                <input type="email" class="mail-field form-control" ng-model="credentials.email" placeholder="{{ 'EMAIL' | translate }}">
                <input type="password" class="password-field form-control" ng-model="credentials.password" placeholder="{{ 'PASSWORD' | translate }}">
                <span class="input-group-addon">
                    <input type="checkbox" ng-model="credentials.rememberMe" tooltip-animation="false" tooltip-placement="left" tooltip="Remember me?"/>
                </span>
                <span class="input-group-btn">
                   <button class="btn btn-default" type="submit">{{ "LOGIN" | translate }}</button>
                </span>
            </form>
        </div>