<div class="user-nav">
    <ul>
        <li><img alt="chats" /></li>
        <li><img alt="notifications" /></li>
        <li class="avatar" ng-click="toggleSubnav()" >
            <img src="http://lorempixel.com/200/200/animals" alt="profile"/>
            <ul class="subnav" ng-show="state.showSubnav">
                <li class="profile">
                    <a ui-sref="userProfile">[user name]</a>
                </li>
                <li>settings</li>
                <li>about YUNITY</li>
                <li>contact</li>
            </ul>
        </li>
    </ul>
</div>